<div class="modal fade" id="reorder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'name.reorder2'|trans }}</h4>
            </div>
            <div class="modal-body clearfix">
                <div>
                    <div style="width: auto;">
                        <div id="myGrid" style="width:100%;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">{{ 'views.recordactions.cancel'|trans }}</button>
                <button id="saveChanges" type="button"
                        class="btn btn-primary">{{ 'views.recordactions.save2'|trans }}</button>
            </div>
        </div>
    </div>
</div>
