<div class="panel panel-heading">
    <div class="tab-wrapper">
        <div class="col-lg-12">
            <div class="slidelabel clearfix">
                <p class="slide-up inline-text">{{ resource.name }}</p>
                <label for="" class="control-label">{{ 'name.name'|trans }}</label>
            </div>

        </div>
    </div>
</div>